
p {
	word-break: break-all;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 200%;
}

#d2 {
	display: block;
	padding:100px;
	margin-bottom: 20px;
	background: #999;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;

}


#d3 {

	position: absolute;

	padding:20px;
	margin-bottom: 20px;
	background: #555;
	right: -30px
	bottom: 0;

}

#d4 {

	position:fixed;
	padding:10px;
	margin-bottom: 20px;
	background: #999;
	top: 0;
	left: 0;

}

